@use '../variables' as *;
@use 'sass:math';

.header-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  height: 34px;
  letter-spacing: 0.12rem;
  margin: 0 math.div($margin-global-size, 2);
  text-transform: uppercase;
  width: 80px;
}