@use '../variables' as *;

footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: $padding-global-size;
  .container {
    display: flex;
  }
  #footer-center {
    align-items: center;
    color: $accent;
    grid-column: 2 / 2;
    justify-content: center;
  }
}