@use '../variables' as *;
@use '../breakpoints' as *;
@use 'sass:math';

header {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr 1fr;
  grid-row: 1 / 1;
  padding: $padding-global-size;
  text-transform: capitalize;
  .container {
    display: flex;
  }
  #header-left {
    #app-title {
      background: $secondary;
      border: 4px solid $primary;
      border-radius: $border-radius-global-size;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      letter-spacing: 0.07rem;
      padding: $padding-global-size $padding-global-size * 2;
      text-align: center;
      text-transform: uppercase;
      h1 {
        border-bottom: 2px solid $accent;
        padding-bottom: math.div($padding-global-size, 4);
      }
      small {
        margin-top: math.div($margin-global-size, 2);
      }
    }
  }
  #header-right {
    justify-content: flex-end;
  }
}