@use '../variables' as *;
@use '../global' as *;

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  width: 100%;
  grid-row: 2 / 2;
  #left {
    background: linear-gradient(45deg,
    rgba($accent, 0.3),
    rgba($accent, 0.4),
    rgba($accent, 0.5),
    rgba($accent, 0.6)),
    url('../images/stacy-preferred-nobg.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
  #mid {
    background: url('../images/polkadots.jpg');
    border-left: 10px solid $primary;
    border-right: 10px solid $primary;
    color: $secondary;
    display: flex;
    grid-column: 2 / 2;
    grid-row: 1 / -1;
    justify-content: center;
  }
  #right {
    background: linear-gradient(45deg,
    rgba($accent, 0.7),
    rgba($accent, 0.8),
    rgba($accent, 0.9),
    rgba($accent, 1.0)),
    url('../images/elegant-cake-nobg.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 3 / -1;
    grid-row: 1 / -1;
  }
  section {
    background: rgba($secondary, 0.5);
    border-radius: $border-radius-global-size;
    border: 1px solid $secondary;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    margin: 190px 100px 100px;
    z-index: 1;
  }
}