@use '../variables' as *;
@use '../global' as *;

main {
  background-color: $primary;
  border-radius: $border-radius-global-size;
  grid-row: 2 / 2;
  margin: 175px 100px 100px;
  section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
    width: 100%;
    #left {
      background: url('../images/icecream-cake-nobg.png');
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1 / span 3;
      grid-row: 1 / -1;
    }
    #mid {
      color: $secondary;
      display: flex;
      font-family: Allura, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 5rem;
      grid-column: 2 /span 3;
      grid-row: 2 / span 3;
      justify-content: center;
    }
  }
}