@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
}

body {
  background: linear-gradient(70deg,
    rgba($primary, 0.2),
    rgba($accent, 0.3),
    rgba($accent, 0.6),
    rgba($accent, 0.7),
    rgba($accent, 1.0),
  ),
  url('../images/polkadots.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Quicksand, sans-serif;
  font-size: 0.8rem;
  overflow-x: hidden;
  padding: 0;
  z-index: -1;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}