@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
}

body {
  background: url('../images/polkadots.jpg');
  font-family: Quicksand, sans-serif;
  font-size: 0.8rem;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}