@use './variables' as *;
@use 'sass:math';

#layout {
  background: linear-gradient(80deg,
    rgba(#000, 0.2),
    rgba(#000, 0.2),
    rgba(#000, 0.6),
    rgba(#000, 0.6),
    rgba(#000, 0.5),
    rgba(#000, 0.5),
  );
  border-radius: $border-radius-global-size;
  color: $secondary;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 20vh $margin-global-size 2vh;
  min-height: 84vh;
  overflow-x: hidden;
  padding: math.div($padding-global-size, 2);
  position: sticky;
}