$primary: #252627;
$secondary: #f2f2f2;
$black-glass: #00000070;
$error: #673c4f;
$info: #9fb8ad;
$accent: #f9627d;
$accent-two: #fac8cd;

$border-radius-global-size: 15px;
$margin-global-size: 1rem;
$padding-global-size: 1rem;