$primary: #1f1f1f;
$secondary: #f1f1f1;
$black-glass: #00000070;
$error: #673c4f;
$info: #9fb8ad;
//$accent: #f9627d;
$accent: #d36582;
$accent-two: #fac8cd;

$border-radius-global-size: 15px;
$margin-global-size: 1rem;
$padding-global-size: 1rem;